{% extends 'base.html' %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}

{% block contents %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Edi Book Store</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-6">
                    <p align="justify" class="my-5">
                        Edi Book Store adalah toko buku yang didedikasikan untuk menyediakan berbagai macam buku berkualitas untuk pembaca dari segala usia dan minat. Dengan koleksi yang mencakup genre fiksi, non-fiksi, buku pendidikan, dan literatur klasik, toko ini bertujuan menjadi tempat terbaik bagi pencinta buku untuk menemukan inspirasi dan pengetahuan. Edi Book Store tidak hanya menjual buku, tetapi juga menciptakan pengalaman yang menyenangkan melalui suasana toko yang nyaman dan layanan pelanggan yang ramah.<br><br>

                        Sebagai toko buku modern, Edi Book Store juga menawarkan platform online yang memudahkan pelanggan untuk menjelajahi koleksi buku dari kenyamanan rumah mereka. Dengan antarmuka yang intuitif dan kategori yang terorganisir dengan baik, pelanggan dapat dengan mudah mencari buku favorit mereka atau menemukan rekomendasi baru. Layanan tambahan seperti pengiriman cepat dan program diskon rutin membuat pengalaman belanja buku di Edi Book Store semakin menarik.<br><br>

                        Tidak hanya berfokus pada penjualan, Edi Book Store juga aktif berkontribusi pada komunitas literasi. Toko ini sering menyelenggarakan acara seperti diskusi buku, sesi tanda tangan penulis, dan lokakarya menulis untuk mendorong minat membaca dan menulis di masyarakat. Dengan visi menciptakan budaya literasi yang kuat, Edi Book Store berkomitmen untuk menjadi lebih dari sekadar toko buku, melainkan pusat literasi dan kreativitas bagi semua.
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock contents %}
    