{% extends 'base.html' %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}

{% block contents %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Edi Book Store</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-6">
                    <p align="justify" class="my-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend elit nisi, at finibus nisi pretium eget. Nam et congue turpis, eu eleifend nunc. Aliquam mollis semper tortor, ut euismod enim lacinia in. Suspendisse at accumsan eros, non pharetra ipsum. Vestibulum a congue massa. Vestibulum venenatis ac eros eget venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in dolor ac erat auctor viverra non sit amet mauris. In ultricies enim non cursus luctus. Ut libero metus, scelerisque eget sollicitudin quis, eleifend egestas diam. Nam nec tempor eros. <br><br>

                        Duis maximus eget libero ut vestibulum. Nullam tincidunt tortor id libero tincidunt, sit amet imperdiet sem maximus. Cras egestas ipsum et dolor imperdiet pulvinar. Curabitur cursus quam odio, vitae sodales diam pulvinar ac. Quisque commodo ultricies est, sed sagittis massa interdum et. Vivamus cursus et nisl quis lobortis. Integer consectetur lectus et maximus pharetra. Nullam ut urna et ex vulputate commodo vitae vitae lectus. Pellentesque blandit tempor turpis, condimentum tempor quam rhoncus et. Curabitur sit amet urna nec ex interdum auctor. Donec pulvinar tempor lacus, ac volutpat tortor scelerisque quis. Aenean finibus congue orci facilisis tempus. Quisque efficitur, ex eu pellentesque tincidunt, velit neque tincidunt lorem, ut tincidunt lacus nisi sit amet nisl. Nunc et elit in nisl egestas volutpat et at nunc. Donec non porttitor dui.<br><br>

                        Fusce placerat, risus sit amet dictum accumsan, arcu lectus iaculis lectus, vel sagittis nulla lacus nec mauris. Aenean nec orci convallis, maximus mauris consequat, tempor mi. Nullam turpis quam, vestibulum vitae ullamcorper sed, cursus vitae risus. Aliquam gravida eros a fringilla porttitor. Vestibulum varius pharetra turpis feugiat faucibus. Suspendisse potenti. Vivamus ipsum erat, feugiat nec euismod vel, tincidunt ultricies nibh. Morbi efficitur, nibh ac posuere tristique, felis est iaculis nisl, aliquet vestibulum eros lorem sit amet sem. Phasellus leo lorem, sollicitudin id vehicula non, euismod non lectus. Nullam a mollis erat.
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock contents %}
    